@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

/* my stuff */
.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 12px;
}

.content {
  display: flex;
  flex-direction: column ;
  justify-content: center;
  align-items: center;
  
}

.footer {
  background-color: #eeee;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 12px;
  
}

ul {
  display: flex;
  gap: 10px;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: rgb(56, 56, 56);
}

.left-links {
  padding-left: 1em;
}

.right-links {
  padding-right: 1em;
}

button {
  padding: 8px 12px;
}